footer {
    position: fixed;
    text-align: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 1px solid black;
    background-color: rgb(280, 280, 280);
}
.footer-item{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
